/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-nov-2018, 18:53:50
    Author     : alexf
*/
#tauler {
    letter-spacing: 1.3vw;
    
}
#taul{
    background-color: graytext;
    border: 2px solid black;
}

#fle{
    display: flex;
        margin-left: 38%;

}

#columna {
    flex-direction: column;
    margin-left: 10%;
    margin-top: 20%;
}

#actual {
    margin-bottom: 80px;
}



#bloqueig{
    background-color:black;
}
#puntua {
    border: 2px solid #9999ff;
    text-align: center;
    margin-bottom: 30px;
    
    width: 50%;
    margin-left: 25%;
    display: block;
}